@font-face {
  font-family: 'GraphikLight';
  src: url("../fonts/GraphikLight.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikRegular';
  src: url("../fonts/GraphikRegular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikMedium';
  src: url("../fonts/GraphikMedium.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikSemiBold';
  src: url("../fonts/GraphikSemibold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikBold';
  src: url("../fonts/GraphikBold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikBlack';
  src: url("../fonts/GraphikBlack.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GraphikBlackItalic';
  src: url("../fonts/GraphikBlackItalic.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
