$gray: #eeeeef;
$white: #ffffff;
$blue: #12a2d9;
$dark-gray: #5d5e61;
$dark: #333333;
$pink: #ff0055;
$yellow: #ffcc43;


//product colors
$ionepay: #365cbf;
$storedge: #071240;
$diamondtv: #cad912;
$icashremit: #eabd1f;
$dagdag: #fb7d64;
$engage: #162438;
