@import "fonts";
@import "mixin";
@import "variables";
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "pages/homepage";
@import "pages/services";
@import "pages/about";
@import "pages/products";
@import "pages/contact";
@import "pages/product";
@import "pages/animations";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: GraphikRegular, sans-serif;
  font-size: .9rem;
  word-spacing: 1px;
  color: $dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  &.no-scroll {
    overflow: hidden;
    height: 100%;
  }
}

.container {
  width: 86%;
  margin: 0 auto;

  @include screen('desktop') {
    width: 992px;
  }
  @include screen('wide-screen') {
    width: 1200px;
  }
}

.controls {
  width: 40%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 50px;
  }
}

#hero-wrapper {
  background: url("~assets/img/Pattern.svg");
  background-size: contain;
  background-position: 100% -3%;
  background-repeat: no-repeat;

  .hero {
    .intro {
      font-size: 1.5rem;
      font-family: GraphikBold, sans-serif;
      line-height: 30px;
      padding-top: 7rem;
      padding-bottom: 2rem;
      color: $dark;

      span {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          border: solid 2px $blue;
          top: 60%;
          left: 135%;
          transform: translate(-50%, -50%);
          width: 20px;
        }
      }
    }

    .sub {
      font-size: 0.75rem;
      line-height: 25px;
      font-family: GraphikRegular, sans-serif;
      letter-spacing: .1em;
      padding-bottom: 2rem;
    }

  }

  @include screen('tab') {
    background-position: 100% 100%;
    background-size: cover;
    .hero {

      .intro {
        padding-top: 4rem;
        padding-bottom: 1rem;
        font-size: 2rem;
        line-height: 40px;
      }

      .sub {
        width: 70%;
        line-height: 20px;
      }
    }
  }

  @include screen('desktop') {
    height: 60vh;
    &.about{
      height: 40vh;
    }
    display: flex;
    align-items: center;
    .hero {

      .intro {
        font-size: 3.5rem;
        line-height: 60px;
        padding-bottom: 1.5rem;
        padding-top: 5rem;

        span {
          &:after {
            width: 40px;
          }
        }
      }

      .sub {
        width: 60%;
        font-size: 1.2rem;
        line-height: 25px;
        letter-spacing: normal;
        padding-bottom: 5rem;
      }
    }
  }

}


#work {
  padding-top: 2rem;
  padding-bottom: 5rem;

  .title {
    color: $blue;
    line-height: 42px;
    font-family: GraphikSemiBold, sans-serif;
    text-align: center;
    font-size: 1.75rem;
  }

  .sub {
    font-size: 1.375rem;
    color: $dark-gray;
    font-family: GraphikSemiBold, sans-serif;
    text-align: center;
  }

  .subtitle {
    font-size: 1rem;
    text-align: center;
    display: block;
    line-height: 35px;
    margin-bottom: 1.5rem;
  }

  .contact {
    display: block;
    text-decoration: none;
    border: solid 1px $blue;
    width: 120px;
    margin: 0 auto;
    text-align: center;
    padding: .5rem;
    border-radius: 15px;
    color: $blue;
  }

  @include screen('tab') {
    .title {
      margin-bottom: 1rem;
    }
    .sub {
      font-size: 1rem;
    }
    .subtitle {
      font-size: .8rem;
      margin-bottom: 3rem;
    }


  }
  .contact{
    .contact{
      line-height: 50px;
      border: solid 1px red;
    }
  }
}



#navbar {
  background-color: $white;

  .nav-wrapper {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .logo {
      width: 40%;

      .logo-m {
        width: 38px;
        cursor: pointer;
      }

      .logo-d {
        display: none;
        cursor: pointer;

      }
    }

    .toggle-wrapper {
      width: 60%;
      display: flex;
      justify-content: flex-end;

      .info-wrapper {
        display: none;
      }

      .toggle {
        width: 28px;
      }
    }
  }

  @include screen('tab') {
    .nav-wrapper {
      .logo {
        .logo-m {
          display: none;
        }

        .logo-d {
          display: block;
          width: 150px;
        }
      }

      .toggle-wrapper {
        //border: solid 1px red;
        .info-wrapper {
          display: flex;
          padding-right: 2rem;

          .info {
            display: flex;
            align-items: center;
            font-size: .8rem;
            color: #5d5e61;

            img {
              width: 20px;
            }

            span {
              margin-left: .3rem;
            }

            &:first-child {
              padding-right: 1rem;
            }
          }
        }

        .toggle {
          cursor: pointer;
        }
      }
    }
  }

  @include screen('desktop') {
    margin-top: 1rem;
    .nav-wrapper {
      //border: solid 1px red;
      .logo {
        .logo-d {
          width: 200px;
        }
      }
    }
  }

}

#sidebar {
  background-color: $dark-gray;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;

  .close {
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    img {
      width: 20px;
      cursor: pointer;
    }
  }

  .menu {
    padding-top: 2rem;

    .link {
      display: inline-block;
      text-decoration: none;
      color: $white;
      margin-bottom: 2rem;
      margin-right: auto;
      font-size: 1.2rem;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: GraphikMedium, sans-serif;
      position: relative;

      &.nuxt-link-exact-active {
        &:after {
          content: '';
          border: solid 1px $blue;
          position: absolute;
          top: 100%;
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .social-wrapper {
    display: flex;
    justify-content: space-between;
    width: 45%;
    position: absolute;
    bottom: 10%;

    a {
      display: inline-block;
      margin-right: 1rem;

      img {
        width: 25px;
      }
    }
  }

  @include screen('tab') {
    .container {
      height: 100%;
      position: relative;
    }
    .close {
      padding-top: 3rem;

      img {
        width: 30px;
      }
    }
    .menu {
      .link {
        font-size: 1.5rem;
        margin-bottom: 4rem;
        padding-bottom: .5rem;

        &:hover {

        }
      }
    }
    .social-wrapper {
      justify-content: flex-end;
      width: 100%;

      a {
        // margin-left: 1.5rem;
        img {
          width: 30px;
        }
      }
    }
  }
}

#footer {
  background-color: $gray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .foot-wrapper {

    .logo {
      width: 80%;

      .logo-d {
        width: 100%;
      }
    }
  }

  .section-wrapper {
    margin-top: 2rem;

    .section {
      margin-bottom: 2rem;

      .title {
        font-family: GraphikSemiBold, sans-serif;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: $dark-gray;
        padding-bottom: .6rem;
      }

      .address {
        font-size: 0.875rem;
        line-height: 26px;

        span {
          display: block;
          margin-bottom: .5rem;
        }
      }

      .socials {
        margin-top: .6rem;
        margin-bottom: 2rem;
        img {
          width: 30px;
          height: 30px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

    }
  }

  .copyright {
    text-align: center;
    span:first-child{
      font-size: .8rem;
    }
    span:last-child{
      display: none;
    }
  }

  @include screen('tab') {
    .foot-wrapper {

      .logo {
        display: none;
      }

      .section-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  @include screen('desktop') {
    background-color: $white;
    padding-bottom: 0;
    .section-wrapper {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .section:nth-child(2) {
        margin-left: 5rem;
      }

      .section:nth-child(3) {
        margin-left: 4rem;
      }

      .section:last-child {
        margin-left: auto;
      }
    }

    .copyright {
      background-color: #eeeeef;

      span:first-child{
        display: none;
      }
      span:last-child{
        font-size: .8rem;
        line-height: 24px;
        padding: 3rem 4rem;
        display: block;
        color: $dark-gray;
      }

    }
  }
}
