.bounceDown {
  animation: bounceDown .8s both;
}

.bounceUp {
  animation: bounceUp .8s both;
}

.slideLeft{
  animation: slideLeft .8s both;
}

.slideRight {
  animation: slideRight .5s both .1s;
}

@keyframes bounceDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes bob-y {
  0% {
    transform: translate(-13%, -50); }
  50% {
    transform: translate(-13%, -55%); }
  100% {
    transform: translate(-13%, -50%); }
}

///for desktop
@keyframes bob-y-d {
  0% {
    transform: translate(-83%, -70); }
  50% {
    transform: translate(-83%, -75%); }
  100% {
    transform: translate(-83%, -70%); }
}

@keyframes bob-x {
  0% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }
  50% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px); }
  100% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); } }

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
