#homepage {
  #hero {
    position: relative;

    .hero-wrapper {

      .left {
        padding-top: 5rem;
        padding-bottom: 5rem;

        &:before {
          content: '';
          height: 100%;
          position: absolute;
          background: url("~assets/img/splatter.svg") bottom center/contain no-repeat;
          top: 3%;
          left: 0;
          width: 100%;
        }

        .intro {
          font-family: GraphikBold, sans-serif;
          font-size: 2.8125rem;
          color: $dark;
          padding-bottom: 2rem;
        }

        .sub {
          color: $dark-gray;
          margin-bottom: 4rem;
          font-size: 0.6875rem;
          text-transform: uppercase;
          font-family: GraphikSemiBold, sans-serif;
          position: relative;
          padding-left: 30px;

          &:before {
            content: '';
            position: absolute;
            border: solid 1px $blue;
            top: 50%;
            left: 0;
            width: 20px;
            transform: translateY(-50%);
          }
        }

        .blue-socials {
          img {
            margin-right: 1rem;
          }
        }
      }

      .right {
        display: none;
      }
    }

    @include screen('tab') {
      .hero-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
          width: 50%;

          &:before {
            display: none;
          }
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          //padding: 1rem;
          img {
            width: 90%;
          }

          //background: url("~assets/img/splatter_d.svg") center center/contain no-repeat;
        }
      }
    }

    @include screen('desktop') {
      .hero-wrapper {
        height: calc(100vh - 94px);

        .left {
          width: 50%;
          padding-top: 8rem;
          padding-bottom: 6rem;

          .intro {
            font-size: 5rem;
          }

          .sub {
            font-size: 1.2rem;
            padding-left: 110px;

            &:before {
              width: 100px;
            }
          }

          .blue-socials {
            margin-top: 10rem;

            img {
              width: 35px;
            }
          }
        }

        .right {
          width: 50%;
        }
      }
    }
  }

  #foundation {
    padding-top: 2rem;
    padding-bottom: 5rem;

    .sub {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: $dark-gray;
      font-family: GraphikBold, sans-serif;
      position: relative;
      display: inline-block;
      margin-bottom: 1rem;

      &:after {
        content: '';
        position: absolute;
        border: solid 1px $blue;
        width: 40px;
        top: 50%;
        left: 110%;
        transform: translateY(-50%);
      }
    }

    .intro {
      font-size: 1.75rem;
      color: $blue;
      line-height: 40px;
      font-family: GraphikBold, sans-serif;
      margin-bottom: 3rem;
    }

    .feature-wrapper {
      margin-bottom: 5rem;

      .feature {
        margin-bottom: 3rem;

        .feature-top {
          img {
            width: 78px;
            height: 78px;
          }
        }

        .feature-title {
          padding: .8rem 0 1.5rem;
          font-family: GraphikBold, sans-serif;
          font-size: 1.25rem;
          text-transform: uppercase;
          color: $dark;
        }

        .feature-text {
          line-height: 24px;
          font-size: 0.875rem;
          width: 90%;
        }
      }
    }

    @include screen('tab') {
      .sub {
        font-size: 1rem;

        &:after {
          left: 105%;
        }
      }

      .intro {
        width: 65%;
      }

      .feature-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include screen('desktop') {
      padding-top: 4rem;
      padding-bottom: 6rem;
      .sub {
        font-size: 1.875rem;

        &:after {
          width: 100px;
        }
      }
      .intro {
        font-size: 3.125rem;
        line-height: 80px;
        margin-bottom: 7rem;
      }

      .feature-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
      }
    }
  }

  #pillar {
    height: 80vh;
    position: relative;
    .backdrop {
      position: relative;
      height: 50%;
      transform: translateY(100%);
      background: url("~assets/img/Pattern.svg") center center/cover no-repeat;

      .card {
        padding: 2rem 1rem;
        background-color: $blue;
        color: $white;
        width: 60%;
        border-radius: 5px;
        position: absolute;
        transform: translate(0, -80%);
        box-shadow: 15px 20px 60px rgba(0, 0, 0, .2);

        .title {
          width: 50%;
          line-height: 30px;
          letter-spacing: 1px;
          padding-bottom: 1rem;
          font-size: 1.625rem;
          font-family: GraphikBold, sans-serif;
        }

        .content {
          width: 80%;
          line-height: 30px;
        }
      }

      .pillar-img {
        width: 42%;
        border-radius: 7px;
        overflow: hidden;
        position: absolute;
        height: 300px;
        right: 0;
        box-shadow: 15px 20px 60px rgba(0, 0, 0, .2);
        transform: translate(-13%, -50%);
        animation: bob-y 8s ease infinite;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @include screen('tab') {
      height: 53vh;
      .backdrop {
        .card {
          width: 51%;
          padding-top: 4rem;
          padding-left: 2rem;
          padding-bottom: 4rem;
          transform: translate(-2%, -80%);

          .content {
            width: 72%;
          }
        }

        .pillar-img {
          height: 365px;
          z-index: 200;
          background-color: $white;
          transform: translate(-29%, -50%);
          animation: none;
          img {
            object-fit: contain;
          }
        }
      }
    }

    @include screen('desktop') {
      background: url("~assets/img/Pattern_d.svg") center center/cover no-repeat;
      height: 60vh;
      .backdrop {
        height: 51%;
        background: none;
        //background: url("~assets/img/Pattern_d.svg") center center/cover no-repeat;

        //display: none;
        .container{
          position: relative;
          .card {
            width: 500px;
            border-radius: 30px;
            padding-top: 5rem;
            padding-left: 2rem;
            padding-bottom: 5rem;
            transform: translate(33%, -101%);
            //transform: translateX(40%);

            //height:50vh;

            .title {
              font-size: 2.5rem;
              line-height: 40px;
              //border: solid 1px red;
            }

            .content {
              width: 60%;
              //font-size: 1.875rem;
              //border: solid 1px red;
            }
          }

          .pillar-img {
            width: 400px;
            transform: translate(-83%, -70%);
            animation: bob-y-d 6s ease infinite;
          }
        }

      }
    }

    @include screen('wide-screen') {
      //border: solid 1px red;
      margin-top: 7rem;
      /*.backdrop {
        .pillar-img {
          width: 400px;
          transform: translate(-140%, -70%);
        }
      }*/
    }
  }

  #services {
    position: relative;
    background-color: $blue;
    color: $white;
    padding-bottom: 3rem;

    img.top-curve {
      width: 100%;
      //transform: translateY(-50%);
      left: 0;
      top: -50px;
      position: absolute;
    }

    img.bottom-curve {
      width: 100%;
      //border: solid 1px red;
      transform: translateY(100px) rotate(180deg);
    }

    .sub {
      text-transform: uppercase;
      font-family: GraphikSemiBold, sans-serif;
      font-size: 0.875rem;
      text-align: center;
      line-height: 80px;
    }

    .intro {
      font-size: 1.625rem;
      font-family: GraphikBold, sans-serif;
      text-align: center;
      line-height: 34px;
    }

    .service-card-wrapper {
      margin-top: 5rem;
      .side-box-wrapper{
        display: flex;
        overflow-x: scroll;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 3rem;
        padding-right: 1rem;
        scroll-snap-type: x mandatory;
        scroll-padding-left: .5rem;
        scroll-padding-right: 1rem;

        .sidebox {
          padding: 4rem 2rem;
          background-color: rgba(255, 255, 255, .5);
          border-radius: 10px;
          box-shadow: 1px 3px 10px rgba(0, 0, 0, .2);
          scroll-snap-align: start;
          flex: 0 0 90%;
          margin-right: 1rem;
          margin-left: 1rem;
          vertical-align: top;

          .title {
            font-size: 1.5rem;
            color: $blue;
            font-family: GraphikBold, sans-serif;
            width: 60%;
          }

          .content {
            line-height: 24px;
            font-size: 0.875rem;
            padding-top: 1.2rem;
          }

          &:first-child {
            //transform: translateX(-50%);
            //border: solid 1px red;
            //display: none;
          }

          &:last-child {
           margin-right: 0;
          }

          &.view {
            display: block;
            background-color: $white;
            color: $dark-gray;
          }
        }
      }



    }

    @include screen('tab') {
      .intro {
        width: 54%;
        margin: 0 auto;
      }
      .controls {
        width: 15%;
        margin: 2rem 1rem 2rem auto;
      }

      .service-card-wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 0;
        .side-box-wrapper{
          width: 80%;
          margin: 0 auto;
          .sidebox {
            //display: none;
            flex: 0 0 60%;
          }
        }

      }
      img.top-curve {
        top: -80px;
      }
      img.bottom-curve {
        transform: translateY(120px) rotate(180deg);
      }
    }

    @include screen('desktop') {
      .sub{
        padding-top: 5rem;
        width: 50%;
        margin: 6rem auto 0;
        font-size: 1rem;
      }
      .intro{
        font-size: 2rem;
        width: 40%;
      }
      .service-card-wrapper{
        margin-top: 7rem;
        padding-top: 2rem;
        .side-box-wrapper{
          width: 100%;
          padding-top: 2rem;
          .sidebox{
            border-radius: 15px;
            flex: 0 0 30%;
            &.view{
              transform: scale(1.1);
            }
            .title{
              font-size: 1.8rem;
              margin-bottom: 1rem;
            }
            .content{
              font-size: 1rem;
            }
          }
        }
      }
      img.top-curve{
        top: -240px;
      }
      img.bottom-curve {
        transform: translateY(195px) rotate(180deg);
      }
    }

    @include screen('wide-screen') {
      img.bottom-curve {
       transform: translateY(220px) rotate(180deg);
      }
    }
  }

  #testimonies {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .sub {
      color: $blue;
      text-transform: uppercase;
      font-family: GraphikMedium, sans-serif;
      font-size: 0.6875rem;
      text-align: center;
      line-height: 80px;
    }

    .intro {
      font-size: 1.75rem;
      font-family: GraphikBold, sans-serif;
      color: $dark;
      text-align: center;
      line-height: 40px;
      position: relative;
      padding-bottom: 1.5rem;

      &:after {
        content: '';
        position: absolute;
        width: 100px;
        border: solid $blue 2px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .avatar {
      width: 120px;
      height: 120px;
      margin: 4rem auto 3rem;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .review {
      color: $dark-gray;
      font-size: 1.25rem;
      line-height: 30px;
      text-align: center;
      font-family: GraphikBlackItalic, sans-serif;
      margin-bottom: 1rem;
    }

    .name {
      font-size: 1.125rem;
      color: $blue;
      display: block;
      text-align: center;
      font-family: GraphikBold, sans-serif;
      text-transform: uppercase;
      line-height: 24px;
    }

    .title {
      text-align: center;
      color: $dark-gray;
      display: block;
      font-size: 0.75rem;
      line-height: 24px;
      font-family: GraphikMedium, sans-serif;
    }

    @include screen('tab') {
      .intro {
        width: 60%;
        margin: 0 auto;
      }
      .testimony {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 7rem;
        padding-bottom: 6rem;

        .avatar {
          width: 40%;
          border-radius: 10px;
          height: 313px;
          box-shadow: 15px 40px 50px rgba(18, 162, 217, .15);
          margin: 0;
        }

        .left {
          width: 51%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          .review {
            font-size: 1.1rem;
            padding-top: 2rem;
            width: 80%;
            margin: 0 auto;
          }


          .controls{

            .left, .right{
              padding: 1rem;
              cursor: pointer;
            }

            .right{
              transform: rotate(180deg);
            }
          }

          .name {
            margin-top: 1rem;
          }

          .title {
            //border: solid 1px red;
          }
        }
      }
    }

    @include screen('desktop') {
      padding-top: 8rem;
      .sub {
        font-size: 1rem;
      }
      .intro {
        width: 40%;
      }
      .testimony {
        width: 70%;
        margin: 3rem auto;
      }
    }

  }

  #friends {
    margin-bottom: 10rem;

    .title {
      font-size: 1.625rem;
      color: $blue;
      font-family: GraphikBold, sans-serif;
      line-height: 34px;
      text-align: center;
      padding-bottom: 1rem;
    }

    .sub {
      text-align: center;
      margin-bottom: 3rem;
    }

    .carousel{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .control{
        width: 20px;
        position: absolute;
        top: 50%;
        &:first-child{
          left: -22px;
          transform: translateY(-50%);
        }
        &:last-child{
          right: -22px;
          transform: translateY(-50%);
        }
      }
      .img-wrapper {
        /*display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        justify-content: space-between;
        overflow: scroll;*/

        .img {
          display: flex;
          border: 1px solid $gray;
          justify-content: center;
          align-items: center;
          width: 250px;
          flex: 1;
          margin-right: .5rem;
        }
      }
    }
  }

  #solid {
    .sub {
      font-family: GraphikBold, sans-serif;
      font-size: 0.75rem;
      color: $dark-gray;
      line-height: 35px;
      position: relative;
      text-transform: uppercase;
      display: inline-block;

      &:after {
        content: '';
        border: solid 1px $blue;
        position: absolute;
        top: 50%;
        left: 105%;
        transform: translateY(-50%);
        width: 50px;
      }
    }

    .title {
      font-size: 1.75rem;
      width: 78%;
      color: $blue;
      font-family: GraphikBold, sans-serif;
      line-height: 40px;
      margin-bottom: 2rem;
    }

    .services-wrapper {
      margin: 2rem auto 4rem;

      .service {
        padding: 3rem 2rem;
        margin-bottom: 2rem;

        .service-title {
          font-family: GraphikBold, sans-serif;
          font-size: 1.75rem;
          width: 80%;
          line-height: 34px;
          margin-bottom: 1rem;

          &.blue {
            color: $blue;
          }
        }

        .service-content {
          font-size: 0.75rem;
          line-height: 20px;
          margin-bottom: 2rem;
        }

        .learn-more {

          .learn {
            text-decoration: none;
            font-size: 1.125rem;
            font-family: GraphikSemiBold, sans-serif;

            &.dark {
              color: $white;
            }

            &.gray {
              color: $dark-gray;
            }

            &.blue {
              color: $white;
            }

            &.white {
              color: $dark-gray;
            }
          }
        }


        &.dark {
          background-color: $dark;
          color: $gray;
        }

        &.white {
          color: $dark-gray;
          border: solid 1px $gray;
        }

        &.blue {
          background-color: $blue;
          color: $white;
        }

        &.gray {
          background-color: $gray;
          color: $dark-gray;
        }
      }
    }

    @include screen('tab') {
      .title {
        width: 61%;
      }
      .services-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 3fr;

        .service {
          margin-bottom: 0;

          &.gray {
            padding-bottom: 15rem;

            .service-content {
              margin-bottom: 1rem;
            }

            .learn-more {
              display: flex;
              align-items: center;
              margin-bottom: 4rem;

              .learn {
                font-size: .75rem;
                margin-right: .4rem;
              }
            }
          }

          &.dark {
            padding: 3rem 1rem 6rem;
          }

          &.white {
            position: absolute;
            background-color: $white;
            bottom: -1px;
            margin-left: auto;
            left: 150px;
            width: 50%;
            border: none;
            height: 52%;
            padding-top: 2rem;

            .service-title {
              margin-bottom: .6rem;
              font-size: 1.3rem;
              line-height: 25px;
              width: 61%;
            }

            .service-content {
              width: 80%;
              margin-bottom: 10px;
            }

            .learn-more {
              display: flex;
              align-items: center;

              .learn {
                font-size: .75rem;
                margin-right: .3rem;
              }

              //display: none;
            }
          }

          &.blue {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40%;
            height: 60%;
            padding: 2rem 1rem;

            .service-title {
              font-size: 1.3rem;
              line-height: 25px;
            }

            // display: none;
          }
        }
      }
    }

    @include screen('desktop') {
      .title {
        width: 40%;
        margin-bottom: 4rem;
      }
      .services-wrapper {
        .service {
          &.blue {
            font-size: 2rem;
            line-height: 50px;
          }

          &.gray {
            .learn-more {
              .learn {
                font-size: 1rem;
              }
            }
          }

          &.white {
            width: 40%;
            left: 250px;
            height: 45%;

            .learn-more {
              .learn {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }


  }

}
