#products-wrapper{
  margin-bottom: 14rem;
  color: $white;
  a{
    color: $white;
  }
  .product{
    height: 200px;
    width: 100%;
    background-color: $blue;
    position: relative;
    cursor: pointer;
    .name{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      font-family: GraphikBold, sans-serif;
      font-size: 1.4rem;
      padding: 1rem ;
      img{
        width: 18px;
        transition: all .2s ease;
      }
    }

    &.engage{
      background-color: $engage;
    }
    &.pink{
      background-color: $ionepay;
    }

    &.green{
      background-color: $storedge;
    }

    &.light-green{
      background-color: $diamondtv;
    }
    &.yellow{
      background-color: $icashremit;
    }

    &.dag{
      background-color: $dagdag;
    }
  }

  @include screen('tab'){
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .product{
      position: relative;
      .name{
        transition: all .1s ease;
      }
      &:hover{
        .name{
          img{
            transition: all .2s ease;
            width: 30px;
          }
        }
      }
    }
  }
}
